.row {
    margin: 5px 0px;
}

#slide-show {
    max-height: 300px;
}

.brand-name {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.602);
}

.brand-name h3 {
    margin-left: 10px;
    line-height: 50px;
    color: aliceblue;
}

#top {
    margin-top: 70px;
}

.card {
    margin: 5px 0px;
}

.footer {
    min-height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.671);
}

#logo {
    width: 55px;
}

.list-group-item a {
    color: black;
    text-decoration: none;
}

.list-group-item:hover,
.list-group-item a:hover {
    text-decoration: none;
    color: orange;
    cursor: pointer;
}

.text-orange {
    color: orange;
}


/* Scroll Top Button */

#btnScroll {
    display: none;
    position: fixed;
    bottom: 110px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(6, 7, 7, 0.776);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

#btnScroll:hover {
    background-color: rgb(77, 43, 25);
}

#sideMenu {
    position: fixed;
    top: 400px;
    left: 10px;
    z-index: 99;
}

#company-img {
    width: 30%;
    float: left;
    margin: 5px 5px;
}

.content {
    overflow: auto;
}

.image img {
    width: 23%;
    margin: 0px 8px;
}

.text-title {
    padding: 25px 0px;
}

.text-center h5 {
    color: rgb(180, 72, 1);
}

.bar-img {
    background-image: url(../image/mac/slide/pic-bar.png);
    background-size: cover;
    background-position: center;
    height: 270px;
}

.bar-img .hover-blur {
    background-color: rgba(0, 0, 0, 0.52);
    height: 270px;
    text-align: center;
}

.bar-img .hover-blur p {
    line-height: 270px;
    color: aliceblue;
}

.card .hover {
    background-color: rgba(0, 0, 0, 0.619);
    height: 100%;
    text-align: center;
    display: none;
    position: absolute;
    width: 100%;
    color: aliceblue;
}

.hover ul {
    padding: 5px;
    margin-top: 20%;
}

.hover ul li {
    list-style: none;
}

.hover ul li:hover {
    list-style: none;
    color: orange;
}

.feedback {
    padding: 15px;
}

.feedback .user {}

.feedback .ucomment {
    background: rgb(238, 253, 255);
    font-size: 2em;
}

.feedback .ucomment p {
    margin-left: 15px;
}

.team a {
    color: white
}